@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#logo {
    font-family: 'Black Ops One', cursive;
    /* font-family: 'Orbitron', sans-serif; */

}

.card-title {
    font-family: 'Orbitron', sans-serif;
}

li {
    /* text-decoration: underline; */
}

main {
    flex: 1 0 auto;
}


footer {
    padding-top: 0;
    text-align: right;
}