{% extends 'base.html' %}

{% block content %}

<h1>Posts Detail</h1>
<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>Body: {{ post.body }}</p>
            <p>Date: {{ post.date }}</p>
            <p>Created by: {{ post.user }}</p>
        </div>
    </div>
    {% if post.user == user %}
    <a href="{% url 'posts_update' post.id %}" class="btn">Edit</a>
    <a href="{% url 'posts_delete' post.id %}" class="btn">Delete</a>
    {% endif %}
</div>

{% endblock %}