{% extends 'base.html' %}

{% block content %}

<h1>Posts Detail</h1>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ post.title }}</span>
                <p>Body: {{ post.body }}</p>
                <p>Date: {{ post.date }}</p>
                <p>Created by: {{ post.user }}</p>
                <p>Favorite: {{post.favorite}}</p>
                <a class="btn halfway-fab waves-effect waves-light red "><i class="material-icons">thumb_up</i></a>
                <!-- <a class="btn halfway-fab waves-effect waves-light red "><i class="material-icons">favorite</i></a> -->
                <a class="btn halfway-fab waves-effect waves-light red right"><i class="material-icons">comment</i></a>
                <a href="{% url 'favorite_post' post.id %}" 
                    class="btn halfway-fab waves-effect waves-light red
                    {% if post.is_favorite %} 
                    grey
                    {% endif %}">
                    <i class="  material-icons " action="">favorite</i></a>
            </div>
        </div>
        {% if post.user == user %}
        <a href="{% url 'posts_update' post.id %}" class="btn">Edit</a>
        <a href="{% url 'posts_delete' post.id %}" class="btn">Delete</a>
        {% endif %}
        <br>

        <div>
            <h3>Comment</h3>
            <div class=" col s12 m8">
                <form action="{% url 'add_comment' post.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" class="btn right" value="Add Comment">
                </form>
            </div>
        </div>

        {% for comment in post.comment_set.all %}
        <div class="row">
            <div class="col s6 m6">
                <div class="card blue-grey darken-1">
                    <div class="card">
                        <div class="card-content">
                            <p>{{comment.body}}</p>
                            <p>{{comment.date}}</p>
                        </div>
                    </div>
                </div>
                <a href="{% url 'comments_update' comment.id %}" class="btn">Edit</a>
                <a href="{% url 'comments_delete' comment.id %}" class="btn">Delete</a>
            </div>
        </div>

        {% endfor %}

    </div>

    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });

        // var selectEl = document.getElementById('id_meal');
        // M.FormSelect.init(selectEl);
    </script>

    {% endblock %}